/stats/build
/stats/node_modules
/stats/package-lock.json

/web/build
/web/dist
/web/node_modules
/web/package-lock.json
/web/.cache/

/express-server/build
/express-server/dist
/express-server/node_modules
/express-server/package-lock.json
/express-server/.cache